* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON RULES */

.fs_14 {
    font-size: 14px;
}

.fs_11 {
    font-size: 11px;
}

/* BODY */

body {
    background-color: #dfe0dd;
    margin: 0 auto;
    height: 100vh;
    width: 100%;
}

#bg_header {
    width: 100%;
    height: 130px;
    position: fixed;
    top: 0;
    z-index: -1;
    background-color: #00a884;
}

.container, .row {
    height: 95vh;
    min-width: 83%;
    background-color: #fafafa;
}

.row>* {
    padding-right: 0;
    padding-left: 0;
}

/* LEFT MENU */

#left_menu {
    height: 100%;
}

/* HEADER LEFT */

.header_left {
    height: 60px;
    background-color: #eaeaea;
    border-right: 1px solid #afadad;
}
.profile_pic {
    height: 40px;
    width: 40px;
}

.profile_pic img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    cursor: pointer;
}

.header_left_icons {
    font-size: 20px;
}

.header_left_icons a {
    color: #b1b1b1;
}

/* ALERT_MUTE */

.alert_mute {
    height: 90px;
    background-color: #53bdeb;
}

.alert_left {
    height: 50px;
    width: 50px;
    font-size: 22px;
    border-radius: 50%;
    background-color: white;
    color: #53bdeb;
    cursor: pointer;
}

/* SEARCH BAR */

.search_bar {
    height: 40px;
}
#search {
    height: 30px;
    width: 100%;
    border: none;
    box-shadow: 1px 1px 1px lightgray;
    padding-left: 10px;
    background-color: white;
}

#search:focus {
    outline: none;
}

#search_icon {
    height: 30px;
    background-color: white;
    box-shadow: 1px 1px 1px lightgray;
}

#search_icon i {
    padding: 0 30px;
    color: #b1b1b1;
}

/* CONTACTS */

.contacts {
    height: calc(100% - 190px);
    background-color: white;
    overflow-y:scroll;
}

.contact {
    height: 70px;
    border-bottom: 1px solid #ece8e8;
}

.contact_profile_pic {
    height: 50px;
    width: 50px;
}

.contact_profile_pic img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    cursor: pointer;
}

.contact_info {
    width: 100%;
    position: relative;
}

.last_message_time {
    position: absolute;
    top: 5px;
    right: 10px;
}

.active {
    background-color: #e9ebeb;
}






/* MESSAGE WINDOW */

#message_window {
    height: 100%;
    background-color: violet;
}

.header_right {
    height: 60px;
    background-color: #eaeaea;
}

.convo {
    width: 80%;
    height: calc(100% - 120px);
    margin: 0 auto;
}

.footer_right {
    height: 60px;
    background-color: #eaeaea;
}

/* DEBUG RULES */

.debug .convo {
    background-color: darkgreen;
}


