<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="css/style.css">
        <title>Boolzapp</title>
    </head>
    <body class="d-flex align-items-center">
        <div id="app">
            <div id="bg_header"></div>
            <div class="container-lg debug">
                <div class="row">
                    <div id="left_menu" class="col-4">
                        <div class="header_left d-flex align-items-center justify-content-between">
                            <div class="profile_pic d-flex justify-content-center align-items-center ms-3">
                                <img class="ms-1 ms-sm-5" src="img/avatar_io.png" alt="Foto Profilo">
                                <span class="mx-2 d-none d-sm-block">Andrea</span>
                            </div>
                            <div class="header_left_icons d-flex align-items-center">
                                <a href="#"><i class="fa-solid fa-circle-notch px-1 px-md-3"></i></a>
                                <a href="#"><i class="fa-solid fa-message px-1 px-md-3"></i></a>
                                <a class="nav-item dropdown" data-bs-toggle="dropdown" href="#">
                                    <i class="fa-solid fa-ellipsis-vertical px-1 me-3 px-md-3"></i>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#" @click="darkModeToggle">Tema Dark/Light</a></li>
                                    </ul>
                                </a>
                            </div>
                        </div>
                        <div class="alert_mute d-flex align-items-center ps-3 justify-content-center justify-content-md-start">
                            <div class="alert_left d-flex justify-content-center align-items-center"><i class="fa-solid fa-bell-slash"></i></div>
                            <div class="alert_right ps-3">
                                <span class="d-block fw-semibold d-none d-md-block">Ricevi notifiche di nuovi messaggi</span>
                                <a class="text-muted d-none d-sm-block" href="#"><span >Attiva notifiche desktop</span></a>
                            </div>
                            
                        </div>
                        <div class="search_bar d-flex justify-content-center p-1">
                            <span id="search_icon" class="p-1"><i class="fa-solid fa-magnifying-glass"></i></span>
                            <input id="search" type="text" placeholder="Cerca o inizia una nuova chat" v-model="search">
                        </div>
                        <div class="contacts">

                            <!-- v-for to create the contacts list -->
                            <div v-for="(item, index) in filteredContacts" :class="(currentActive == index)? 'active':''" :class="(item.visible == false)? 'd-none':''" class="contact d-flex align-items-center ps-3" @click="currentActive = index">
                                <div class="contact_profile_pic d-none d-sm-block">
                                    <img :src="'img/avatar' + item.avatar + '.jpg'" :alt="'Foto Profilo di ' + item.name">
                                </div>
                                <div class="contact_info ps-3">
                                    <span class="contact_to_filter d-block fw-semibold fs-6">{{item.name}}</span>
                                    <span class="fs_14 last_sent d-none d-md-block">Ultimo messaggio inviato</span>
                                    <span class="last_message_time fs_11 d-none d-sm-block">12:00</span>
                                </div>
                            </div>    
                        </div>
                    </div>

                    <div id="message_window" class="col-8">
                        <div class="header_right d-flex align-items-center ps-3">
                                <div class="contact_profile_pic">
                                    <img :src="'img/avatar' + contacts[currentActive].avatar + '.jpg'" :alt="'Foto Profilo di ' + contacts[currentActive].name">
                                </div>
                                <div class="contact_info ps-3">
                                    <span class="d-block fw-semibold fs-6">{{contacts[currentActive].name}}</span>
                                    <span class="fs_14 text-black-50 d-none d-sm-block">Ultimo accesso oggi alle 12:00</span>
                                </div>
                            
                                <div class="header_right_icons d-flex align-items-center">
                                    <a href="#"><i class="fa-solid fa-magnifying-glass px-3"></i></a>
                                    <a href="#"><i class="fa-solid fa-paperclip px-3"></i></a>
                                    <a href="#"><i class="fa-solid fa-ellipsis-vertical px-3 me-3"></i></a>
                                </div>
                    
                        </div>
                        <div class="convo py-5 px-1 px-sm-5">

                            <!-- v-for to create the messages list -->

                            <div v-for="(item, index) in contacts[currentActive].messages" class="message_row d-flex" :class="(contacts[currentActive].messages[index].status == 'sent')? 'sent':''">
                                <div class="message d-flex justify-content-between" :class="(contacts[currentActive].messages[index].status == 'sent')? 'sent':''">
                                    <div class="message_text d-inline-block">{{item.message}}</div> 
                                    <div class="timestamp px-2 fs_11 d-flex align-items-end">
                                        <div class="message_menu nav-item dropdown" data-bs-toggle="dropdown" href="#">
                                            <i class="fa-solid fa-angle-down px-1"></i>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#" @click="removeMessage(index)">Cancella </a></li>
                                            </ul>
                                        </div>
                                        {{textTime(item.date)}}

                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="footer_right d-flex justify-content-between align-items-center p-3">
                            <div class="footer_icons"><a href="#"><i class="fa-solid fa-face-smile"></i></a></div>
                            <input id="send_text" type="text" v-model="newMessage" @keyup.enter="sendMessage" @keyup.enter="okAnswer">
                            <div class="footer_icons"><a href="#"><i class="fa-solid fa-microphone"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    

        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>    
    </body>
</html>